[Unit]
Before=umount.target

[Service]
Type=oneshot
User=root
ExecStartPre=/bin/chown -Rf ubuntu /home/ubuntu/ramdisk/
ExecStart=/usr/bin/rsync -ar /home/ubuntu/temp_ramdisk/ /home/ubuntu/ramdisk/
ExecStop=/usr/bin/rsync -ar /home/ubuntu/ramubuntu /home/ubuntu/temp_ramdisk/
ExecStopPost=/bin/chown -Rf ubuntu /home/ubuntu/ramdisk/
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
